<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content" class="container">

    <h2 class="text-center" th:text="|${user.userName}님의 개인 페이지입니다.|"></h2>
    <div class="row align-items-start">
        <div class="buttons-3">
            <div class="col">
                <div class="main-buttons">
                    <a href="/" role="button" class="btn btn-info">홈으로</a>
                </div>
            </div>
            <div class="col">
                <div class="sub-buttons">
                    <a href="/posts?page=1&size=5" role="button" class="btn btn-primary"
                       style="margin-right: 5px;">글 목록</a>
                    <a href="/categories" role="button" class="btn btn-secondary">카테고리 목록</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center">
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>닉네임</th>
                <th>이메일 주소</th>
                <th>권한</th>
            </tr>
            </thead>
            <tbody id="tbody1">
            <tr th:object="${user}">
                <td th:text="*{userName}"></td>
                <td th:text="*{userEmail}"></td>
                <td th:text="*{userRole}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="sub-buttons">
        <a href="/setting/edit">정보 수정</a>
    </div>

    <div class="row align-items-end">
        <h4>작성한 글 목록</h4>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>글 번호</th>
                <th>글 제목</th>
            </tr>
            </thead>
            <tbody id="tbody2">
            <tr th:each="post : ${user.postList}">
                <td th:text="${post.id}"></td>
                <td><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</html>