{{>layout/header}}
<h1>카테고리 추가하기</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="name">카테고리 이름</label>
                <input type="text" class="form-control" id="name" placeholder="카테고리 이름을 입력하세요.">
            </div>
        </form>
        <a href="/categories" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save-category">추가</button>
    </div>
</div>


{{>layout/footer}}