<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content" class="container text-center">

    <h1>카테고리 추가하기</h1>

    <div class="row align-items-start">
        <div>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="카테고리 이름을 입력하세요.">
                </div>
            </form>
            <div class="sub-buttons">
                <a href="/categories" role="button" class="btn btn-secondary">취소</a>
                <button type="button" class="btn btn-primary" id="btn-save-category">추가</button>
            </div>
        </div>
    </div>
</div>
