<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">

    <h1 th:text="${category.name}"></h1>

    <div class="col-md-12">
        <div class="col-md-4">
            <form th:object="${category}">
                <div class="form-group">
                    <label for="id">카테고리 번호</label>
                    <input type="text" class="form-control" id="id" th:field="*{id}" readonly>
                </div>
                <div class="form-group">
                    <label for="name">카테고리 이름</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                </div>
            </form>
            <a href="/categories" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-update-category">수정 완료</button>
        </div>
    </div>
</div>
