<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">


<div layout:fragment="content">
    <h1 th:text="${post.id}"></h1>
    <div class="col-md-12">
        <div class="col-md-4">
            <form th:object="${post}">
                <div class="form-group">
                    <label for="id">게시글 번호</label>
                    <input type="text" class="form-control" id="id" th:field="*{id}" readonly>
                </div>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" th:field="*{title}">
                </div>
                <div>
                    <label>카테고리</label>
                    <select class="form-select" id="categoryName" name="categoryName" aria-label="Select category">
                        <option value="">카테고리를 선택하세요.</option>
                        <option th:each="category : ${categoryList}" th:value="${category.name}"
                                th:text="${category.name}">카테고리를 선택하세요</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="userName">작성자</label>
                    <input type="text" class="form-control" id="userName" th:field="*{userName}" readonly>
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    <input type="text" class="form-control" id="content" th:field="*{content}">
                </div>
            </form>
            <a href="/posts?page=1&size=5" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-update-post">수정 완료</button>
        </div>
    </div>
</div>
