<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <h1>블로그 구현하기 Ver.1</h1>
    <div class="col-md-12">
        <div th:if="${userName == null}" class="row">
            <div class="col-md-6">
                <div th:text="|로그인 버튼을 눌러 서비스를 시작하세요!|"></div>
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">구글 로그인</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">네이버 로그인</a>
                <a href="/oauth2/authorization/kakao" class="btn btn-info active" role="button">카카오 로그인</a>
            </div>
        </div>
        <div th:if="${userRole == 'GUEST'}" class="row">
            <div class="col-md-6">
                <div th:text="|인증이 필요한 계정입니다. 한번 더 로그인을 눌러, 인증을 해주세요.|"></div>
            </div>
        </div>
        <div th:if="${userRole == 'GUEST'}" class="row">
            <div class="col-md-6">
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">구글 로그인</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">네이버 로그인</a>
                <a href="/oauth2/authorization/kakao" class="btn btn-info active" role="button">카카오 로그인</a>
            </div>
        </div>
        <div th:if="${(userRole  == 'USER') or (userRole == 'ADMIN')}" class="row">
            <div class="col-md-6">
                <div id="user" th:text="|${userName} 님 어서오세요!|"></div>
                <div th:text="|ROLE: ${userRole}|"></div>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            </div>
        </div>
    </div>
    <br>
    <div th:if="${(userRole  == 'USER') or (userRole == 'ADMIN')}" class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts?page=1&size=5" role="button" class="btn btn-primary">글 목록</a>
                <a href="/categories" role="button" class="btn btn-success">카테고리 목록</a>
            </div>
        </div>
    </div>

</div>