<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div class="row">
        <div th:if="${(userRole  == 'USER') or (userRole == 'ADMIN')}" class="logout">
            <a href="/logout" class="btn btn-secondary active" role="button">Logout</a>
        </div>
    </div>

    <div class="container text-center">
        <h1> Board! </h1>

        <div class="row align-items-start">

            <div th:if="${userName == null}">
                <div>
                    <div th:text="|로그인 버튼을 눌러 서비스를 시작하세요!|"></div>
                    <br>
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">구글 로그인</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">네이버 로그인</a>
                    <a href="/oauth2/authorization/kakao" class="btn btn-info active" role="button">카카오 로그인</a>
                </div>
            </div>
            <div th:if="${userRole == 'GUEST'}">
                <div >
                    <div th:text="|인증이 필요한 계정입니다. 한번 더 로그인을 눌러, 인증을 해주세요.|"></div>
                </div>
            </div>
            <div th:if="${userRole == 'GUEST'}">
                <div>
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">구글 로그인</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">네이버 로그인</a>
                    <a href="/oauth2/authorization/kakao" class="btn btn-info active" role="button">카카오 로그인</a>
                </div>
            </div>
            <div th:if="${(userRole  == 'USER') or (userRole == 'ADMIN')}">
                <div>
                    <div id="user" th:text="|${userName} 님 어서오세요!|"></div>
                </div>
                <div>
                    <a href="/posts?page=1&size=5" role="button" class="btn btn-primary">버튼을 눌러 Board!를 시작하세요 😄</a>
                </div>
            </div>
        </div>
    </div>
</div>