<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <h1>블로그 구현하기 Ver.1</h1>
    <div class="col-md-12">
        <div th:if="${userName}" class="row">
            <div class="col-md-6">
                <!--TODO: 로그인기능 구현 시, 세션이 있을 때만 아래 버튼 출력하도록 변경-->
                <a href="/posts?page=1&size=5" role="button" class="btn btn-primary">글 목록</a>
                <a href="/categories" role="button" class="btn btn-success">카테고리 목록</a>
            </div>
        </div>
    </div>

</div>