<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <h1 th:text="${post.id}"></h1>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts?page=1&size=5" role="button" class="btn btn-primary">글 목록</a>
                <a th:href="@{/post/{id}/edit(id=${post.id})}" role="button" class="btn btn-primary">글 수정</a>
                <button type="button" class="btn btn-danger" id="btn-delete-post">글 삭제</button>
            </div>
        </div>
    </div>

    <div th:object="${post}" class="col-md-12">
        <div class="col-md-4">
            <div class="form-group">
                <label for="id">게시글 번호</label>
                <input type="text" class="form-control" id="id" th:field="*{id}" readonly>
            </div>
            <div class="form-group">
                <label for="views">조회수</label>
                <input type="text" class="form-control" id="views" th:field="*{views}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" readonly>
            </div>

            <div th:if="*{categoryName}" class="form-group">
                <label for="categoryName">카테고리</label>
                <input type="text" class="form-control" id="categoryName" th:field="*{categoryName}" readonly>
            </div>

            <div class="form-group">
                <label for="userName">작성자</label>
                <input type="text" class="form-control" id="userName" th:field="*{userName}" readonly>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <input type="text" class="form-control" id="content" th:field="*{content}" readonly>
            </div>
        </div>
    </div>

    <script src="https://utteranc.es/client.js"
            repo="SeolYoungKim/blog-aws-practice"
            issue-term="pathname"
            theme="photon-dark"
            crossorigin="anonymous"
            async>
    </script>
</div>