<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content" class="container text-center">
    <div class="row align-items-center">
        <div class="row align-items-start">
            <div class="col sub-buttons">
                <a href="/" role="button" class="btn btn-secondary btn-left-space">홈으로</a>
                <a href="/setting" role="button" class="btn btn-secondary btn-left-space">마이 페이지</a>
                <a href="/logout" class="btn btn-secondary btn-left-space active" role="button">Logout</a>
            </div>
        </div>
        <div class="container text-center">
            <div class="buttons-3">
                <div class="col main-buttons">
                    <a href="/categories" role="button" class="btn btn-secondary">카테고리 목록</a>
                </div>
                <div class="col">
                    <div class="sub-buttons">
                        <a href="/write" role="button" class="btn btn-primary btn-left-space">글 등록</a>
                        <a th:if="${user.userRole == 'ADMIN'}" href="/category/add" role="button" class="btn btn-success btn-left-space">카테고리 추가</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>최종 수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
            <tr th:each="post : ${postList}">
                <td th:text="${post.id}"></td>
                <td><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
                <td th:if="${post.userRole == 'ROLE_ADMIN'}" th:text="|${post.userName}(ADMIN)|"></td>
                <td th:unless="${post.userRole == 'ROLE_ADMIN'}" th:text="${post.userName}"></td>
                <td th:text="${post.views}"></td>
                <td th:text="${post.modifiedDate}"></td>
            </tr>
        </tbody>
    </table>
    <div>
        <!--버튼은 페이지 시작부터 5개만 노출(page=2 -> 2~6까지 다섯개)-->

        <span th:if="${postSearch.page eq 1}">
            <a th:text="'<'" role="button" class="btn btn-info"></a>
        </span>
        <span th:if="${postSearch.page ne 1}">
            <a th:href="@{/posts(page=${postSearch.page - 1}, size=${postSearch.size})}"
               th:text="'<'" role="button" class="btn btn-info"></a>
        </span>

        <span th:if="${postSearch.page gt 2}">
            <a th:href="@{/posts(page=1, size=${postSearch.size})}"
               th:text="1" role="button" class="btn btn-info"></a>
        </span>
        <span th:if="${postSearch.page gt 2}">...</span>

        <span th:if="${postSearch.page le postPageLowerLimit}" th:each="num : ${pageCounts}">
            <a th:if="${((postSearch.page - 2) le num) and (num le postPageUpperLimit)}"
               th:href="@{/posts(page=${num}, size=${postSearch.size})}"
               th:text="${num}" role="button" class="btn btn-info"></a>
        </span>
        <span th:if="${postSearch.page gt postPageLowerLimit}" th:each="num : ${pageCounts}">
            <a th:if="${(postSearch.page gt postPageLowerLimit) and (num gt postPageLowerLimit)}"
               th:href="@{/posts(page=${num}, size=${postSearch.size})}"
               th:text="${num}" role="button" class="btn btn-info"></a>
        </span>

        <span th:if="${(pageCounts.size gt 10) and (postSearch.page le postPageLowerLimit)}">...</span>
        <span th:if="${(pageCounts.size gt 10) and (postSearch.page le postPageLowerLimit)}">
            <a th:href="@{/posts(page=${pageCounts.size}, size=${postSearch.size})}"
               th:text="${pageCounts.size}" role="button" class="btn btn-info"></a>
        </span>

        <span th:if="${postSearch.page eq pageCounts.size}">
            <a th:text="'>'" role="button" class="btn btn-info"></a>
        </span>
        <span th:if="${postSearch.page ne pageCounts.size}">
            <a th:href="@{/posts(page=${postSearch.page + 1}, size=${postSearch.size})}"
               th:text="'>'" role="button" class="btn btn-info"></a>
        </span>
    </div>

    <div class="search-bar">
        <form class="inputs">

            <span class="material-icons">search</span>
            <input id="keyword" type="text" placeholder="검색어를 입력하세요">

            <span class="material-icons">menu</span>
            <select id="type">
                <option value="title">제목</option>
                <option value="content">내용</option>
            </select>

            <button type="button" class="btn btn-secondary" id="btn-search-post">검색</button>
        </form>
    </div>
</div>

