{{>layout/header}}
<h1>글 목록</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/write" role="button" class="btn btn-primary">글 등록</a>
            <a href="/category/add" role="button" class="btn btn-success">카테고리 추가</a>
        </div>
    </div>
</div>
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>게시글 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종 수정일</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#postList}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/post/{{id}}">{{title}}</a></td>
            <td>{{author}}</td>
            <td>{{modifiedDate}}</td>
        </tr>
    {{/postList}}
    </tbody>
</table>


{{>layout/footer}}